div.nav{
			width: 100%;
			box-sizing: border-box;
			max-width: 320px;
			padding: 1em;
			margin: 0;

			h2 {
				text-align: center;
				margin: 0;
				> a{
					color: black;
					text-decoration: none;
					&:hover{
						text-decoration: none;
					}
				}
				@media only screen and (min-device-width: 321px){
					text-align: left;
				}
			}

			> ul.nav-tree{
				display: block;
				margin: 0;
				background: white;
				font-size: 1em;
				padding: 1em 0;
				text-align: center;
				@media only screen and (min-device-width: 321px){
					text-align: left;
				}
				> li{
					position: relative;
					display: inline-block;
					list-style: none;
					margin: 0;
					padding: 0em .5em;
					@media only screen and (min-device-width: 321px){
						display: block;
						padding: 0em;
						&:last-of-type{
							margin-top: 0.75em;
						}
					}
					> span{
						display: inline-block;
						text-decoration: underline;
						color: $gray-dark;
						cursor: pointer;

						&:hover{
							color: $gray-light;
							text-decoration: none;
						}
						
						@media only screen and (min-device-width: 321px){
							text-decoration: none;
							color: $text-color;
							font-weight: 800;
							cursor: default;
							&:hover{
								color: $text-color;
							}
						}
					}
					> ul.nav-tree{
						display: none;
						margin: 0;
						padding: 0;

						@media only screen and (min-device-width: 321px){
							display: block;
						}
						&.active{
							display: block;
							position: absolute;
							width: auto;
							height: auto;
							left: auto;
							background: white;
						}
						li{
							list-style: none;
							display: block;
							margin: 0;
							padding: 0.25em 0 0 .5em;

							> ul.nav-tree {
								margin: 0;
								padding: 0;
							}
						}
					}

				}
			}
		}