@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);
@import 'variables';
@import 'nav';

html{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: white;
	height: 100%;
	width: 100%;
	body{
		background: white;
		margin: 0;
		padding: 0;
		position: relative;
		color: black;
	}
}